.cart1 {
    display: flex;
    gap: 1vw;
    margin: 2vh;
}

.cart-left {
    height: 100%;
    width: 150vw;
    background-color: white;
    padding: 1vw;
}

.cart-left h1 {
    font-size: 4vh;
    font-weight: 400;
    margin-bottom: 1vh;
}

.cart-left hr {
    border: none;
    height: 0.25vh;
    background-color: #dadada;
}

.product-cart-list {
    display: flex;
    align-items: start;
    gap: 1vw;
    padding: 2vh 0vw 1vh 1vw;
}

.product-cart-titleprice {
    display: flex;
    gap: 1vh;
    font-size: 2.5vh;
}

.product-cart-bestseller {
    font-size: 2vh;
    margin-top: 1vh;
}

.product-cart-bestseller span {
    font-size: 2vh;
    background-color: #c45500;
    color: white;
    padding: 1vh;
}

.product-cart-stock {
    font-size: 2vh;
    color: #007600;
    margin: 1vh;
}
.product-cart-delivery {
    font-size: 2vh;
}
.product-cart-returns {
    font-size: 2vh;
    color: #007185;
    font-weight: 400;
}
.product-cart-giftoption{
    color: #494949;
    font-size: 2vh;
    margin: 2vh;
}
.product-cart-giftoption span{
    color: #007185;
}
.product-cart-specs{
    width: 10vw;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1vh;
    font-size: 2vh;
    margin: 2vh;
}
.product-cart-list-action{
    display: flex;
    gap: 1vw;
    font-size: 1.75vh;
    color: #007185;
}
.product-cart-list-action hr{
    height: 2vh;
    width: 0.2vh;
    background-color: #cfcfcf;
}
.product-cart-list-action select{
 padding: 0.2px;
 border-radius: 6px;
 background-color: #f3f3f3;
}
.cart-list-subtotal{
    text-align: right;
    font-size: 3vh;
    margin-top: 2vh;
}
.cart-right{
    background-color: white;
    padding: 3vh;
    height: 28vh;
    width: 40vw;
}
.cart-free-delivery{
    display: flex;
    font-size: 2vh;
}
.cart-subtotal{
    margin-top: 2vh;
    font-size: 2.5vh;
    font-weight: 500;
}
.cart-right-gift{
    margin: 1vh;
    font-size: 2vh;
}
.cart-right button{
    width: 100%;
    height: 4vh;
    margin: 5vh 0vw;
    background: #FFD814;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.cart-right button:hover{
    background: #ebc712;
}
