body{
    background: white;
}

.breadcrum{
    padding: 1vh;
    font-size: 1.5vh;
    color: #565656;
    background-color: white;
}
.product-display{
    background-color: white;
    padding: 1vh;
    display: flex;
}
.product-main-image{
    height: 50vh;
    width: 25vw;
    padding: 3vh;
    margin: 2vh;
    background-image: url("assets/product_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#list-img{
    height: 8vh;
    width: 4vw;
}
.product-d-image{
    display: flex;
}
.product-list-image{
    display: flex;
    flex-direction: column;
    width: 4vw;
    gap: 3vh;
}
.product-list-image img{
   border: 1px solid grey;
   border-radius: 10px;
}
.product-d-details{
    width: 50vw;
    margin: 1vh;
}
.product-title{
    font-size: 3vh;
}
.product-store{
    margin-top: 2vh;
    color:#007185;
    font-size: 2vh;
}
#rating-img{
    height: 2vh;
    width: 5vw;
}
.product-rating{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.product-rating div{
    display: flex;
    align-items: center;
    gap: 1vh;
}
.product-rating p{
    color: #007185;
}
.product-rating p span{
    color: #ffffff;
    background-color: #c73500 ;
    padding: 1vh;
    border-radius: 3px;
    font-size: 2vh;
}
.product-rating h5{
    font-weight: 400;
}
.product-prices{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.product-prices div{
    display: flex;
    align-items: center;
    gap: 1vh;
    margin: 1vh;
}
.product-prices div p{
    font-size: 2vh;
    color:#c73500;
}
.product-prices div h1{
    font-size: 2vh;
    font-weight: 500;
}
.product-prices div h1 span{
    font-size: 2vh;
    font-weight: 500;
}
.product-prices h5{
    font-weight: 400;
    color: #565656;
}
.product-prices h5 span{
    text-decoration: line-through;
}
.product-prices p span{
    color: #007185;
}
.product-color-selection{
    margin: 2vh;
}
#option-img{
    width: 2vw;
    height: 5vh;
}
#location-img{
    height: 5vh;
    width: 3vw;
}
.product-color-options{
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}
.option{
    width: 6vw;
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 1vh;
    border: 1px solid #cbcbcb;
    gap: 2vh;
}
.product-info{
    display: grid;
    grid-template-columns: auto auto;
    width: 15vw;
    margin-bottom: 3vh;
}

.product-description h1{
    font-size: 3vh;
    margin: 2vh;
}

.product-description ul{
    display: flex;
    flex-direction: column;
    gap: 1v;
    margin-left: 1vw;
}

.product-d-purchase{
    width: 30vw;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    padding: 2vh;
}
.product-d-purchase .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-d-purchase .price{
    font-weight: 400;
    font-size: 2vh;
    margin: 1vh;
}
.product-d-purchase .price span{
    font-size: 3vh;
    padding: 0.25vh;
}
.product-d-purchase .gap{
    margin: 1vh;
}
.product-d-purchase p span{
    color: #007185;
}
.pincode-section{
    display: flex;
    align-items: center;
    gap: 0.25vh;
}
.product-stock{
    margin: 1vh;
    color: green;
    font-weight: 400;
}
.product-quantity{
    padding: 1vh;
    outline: none;
    width: 100%;
    border-radius: 5px;
    background-color: #efefef;
    border-color: #c1c1c1;
}
.product-d-purchase .btn{
    outline: none;
    border: none;
    background-color: #c1c1c1;
    width: 100%;
    padding: 1vh;
    margin-top: 1vh;
    border-radius: 50px;
    background-color: #FFD814;
}
.product-d-purchase .product-buy{
    background-color: #FFA41C;
}
.product-seller-info{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    gap: 0.5vh;
    font-size: 2vh;
    color: #565656;
}
.product-seller-info-value{
    color: #007185;
}
.product-d-purchase hr{
    margin: 1.25vh;
}
.product-addtolist{
    width: 100%;
    padding: 0.25vh;
    border-radius: 5px;
    border-width: 1px;
    text-align: start;
    background: white;
}
